{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}



{% block body %}

<h1>New Page</h1>


<form action="{% url 'new' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label>Title: </label>
        <input type="text" class="form-control" name="title" placeholder="Enter a title">
    </div>
    <div class="mb-3">
        <label>Content: </label>
        <textarea class="form-control" name="content" rows="5" cols="80" placeholder="Enter content"></textarea>
    </div>

    <input type="submit" class="btn btn-primary" value="Save">
    {% block index_button %}
    <a href="{% url 'index' %}" class="btn btn-primary">Cancel</a>
    {% endblock %}


</form>

{% endblock %}